<!-- início do conteúdo do anime -->
<div class="px-2 p-md-5 d-flex flex-column border-lilac bg-blackblue">
    <div class="mx-auto my-4 position-relative">
        <img class="img-fluid" src="assets/images/animes/anime_death_note_lg.webp" alt="Death Note" loading="lazy">
        <div class="position-absolute top-0 ratio ratio-16x9 anime-video"><!-- Vídeo que será revelado ao posicionar o mouse sobre a imagem -->
            <iframe src="https://www.youtube.com/embed/Xoj2Qu8t558" title="Exatamente como planejei... | Death Note (Dublado)" loading="lazy" allowfullscreen></iframe>
        </div>

        <div class="text-center">
            <small class="text-light fst-italic d-lg-none">Toque na imagem para ver uma prévia do anime.</small>
        </div>
    </div>

    <div class="mx-2 my-4">
        <h2 class="h1 fw-bold mb-4 text-lilac" lang="en-us">DEATH NOTE</h2>
        <div class="lead">
            <p>Death Note é um anime psicológico que conta a história de Light Yagami, um estudante brilhante que encontra um caderno capaz de matar qualquer pessoa cujo nome seja escrito nele. O enredo gira em torno de sua tentativa de criar um "novo mundo" livre de criminalidade, enquanto é desafiado pelo detetive genial L. O anime é um duelo de mentes, repleto de suspense, reviravoltas e questões filosóficas sobre moralidade e poder.</p>

            <p>Eu gosto de Death Note porque ele te prende do primeiro ao último episódio, colocando você para pensar em questões que vão muito além do entretenimento. A tensão constante entre Light e L, os diálogos inteligentes e as estratégias brilhantes dos personagens fazem cada momento valer a pena. É um anime que não só entretém, mas também desafia o espectador a refletir sobre até onde é ético ir para alcançar um ideal.</p>

            <p>Se você gosta de tramas envolventes e cheias de reviravoltas, Death Note é uma escolha certeira. É uma experiência única, que desperta tanto emoção quanto reflexão, e vai deixar você pensando sobre seus temas muito depois do final.</p>
        </div>
        
        <div class="text-end">
            <p class="my-4 fw-semibold">
                Assista em:
                <a href="https://www.crunchyroll.com/pt-br/series/G6QWD3EE6/death-note" target="_blank" class="text-lilac">Crunchyroll</a><br> 
                <a href="https://www.netflix.com/title/70204970" target="_blank" class="text-lilac">Netflix</a>
            </p>
            <a href="#animes" class="btn btn-sm btn-lilac">Voltar à lista</a>
        </div>
    </div>
</div>
<!-- fim do conteúdo do anime -->