<!-- início do conteúdo do anime -->
<div class="px-2 p-md-5 d-flex flex-column border-lilac bg-blackblue">
    <div class="mx-auto my-4 position-relative">
        <img class="img-fluid" src="assets/images/animes/anime_chainsaw_man_lg.webp" alt="Chainsaw Man" loading="lazy">
        <div class="position-absolute top-0 ratio ratio-16x9 anime-video"><!-- Vídeo que será revelado ao posicionar o mouse sobre a imagem -->
            <iframe src="https://www.youtube.com/embed/UwovbbKUpwk" title="Motosserra vs Morcego | Chainsaw Man" loading="lazy" allowfullscreen></iframe>
        </div>

        <div class="text-center">
            <small class="text-light fst-italic d-lg-none">Toque na imagem para ver uma prévia do anime.</small>
        </div>
    </div>

    <div class="mx-2 my-4">
        <h2 class="h1 fw-bold mb-4 text-lilac" lang="en-us">CHAINSAW MAN</h2>
        <div class="lead">
            <p>Chainsaw Man é um anime que mistura ação desenfreada e emoção crua ao contar a história de Denji, um jovem que vive à margem da sociedade até se fundir com seu fiel demônio-serra elétrica, Pochita. Transformado em uma criatura híbrida, Denji entra para uma organização que caça demônios, enfrentando inimigos bizarros e perigosos enquanto tenta alcançar os simples prazeres de uma vida que ele nunca teve.</p>

            <p>Eu gosto de Chainsaw Man porque ele traz uma abordagem crua e humana sobre sonhos, sobrevivência e as consequências do poder. Com cenas de ação intensas, personagens carismáticos e um humor ácido que quebra a tensão na medida certa, o anime consegue ser tão brutal quanto emocionalmente impactante. É uma obra que não tem medo de explorar o absurdo e, ao mesmo tempo, tocar em temas profundos.</p>

            <p>Se você procura algo único, com uma narrativa ousada e um visual de tirar o fôlego, Chainsaw Man é o anime certo para você. Ele surpreende a cada episódio e prova que histórias podem ser tão brutais quanto belas.</p>
        </div>
        
        <div class="text-end">
            <p class="my-4 fw-semibold">
                <strong>ONDE ASSISTIR:</strong>
                <a href="https://www.crunchyroll.com/pt-br/series/GVDHX8QNW/chainsaw-man" target="_blank" class="text-lilac">Crunchyroll</a>
            </p>
            <a href="#animes" class="btn btn-sm btn-lilac">Voltar à lista</a>
        </div>
    </div>
</div>
<!-- fim do conteúdo do anime -->