<!-- início do conteúdo do anime -->
<div class="px-2 p-md-5 d-flex flex-column bordas-lilac bg-blackblue">
    <div class="mx-2 my-4 position-relative">
        <img class="img-fluid" src="assets/images/animes/anime_attack_on_titan_lg.webp" alt="Attack On Titan" loading="lazy">
        <div class="position-absolute top-0 ratio ratio-16x9 anime-video"><!-- Vídeo que será revelado ao posicionar o mouse sobre a imagem -->
            <iframe src="https://www.youtube.com/embed/tGyt8YEVNWA" title="Declaração de Guerra | Attack on Titan Final Season (Dublado)" loading="lazy" allowfullscreen></iframe>
        </div>
    </div>

    <div class="mx-2 my-4">
        <h2 class="h1 fw-bold mb-4 text-lilac" lang="en-us">ATTACK ON TITAN (SHINGEKI NO KYOJIN)</h2>
        <div class="lead">
            <p>Attack on Titan (Shingeki no Kyojin) é um anime que retrata a luta da humanidade pela sobrevivência contra os Titãs, criaturas colossais que ameaçam sua existência. A história acompanha Eren Yeager e seus amigos, Mikasa e Armin, enquanto enfrentam esses inimigos e descobrem segredos sombrios que mudam para sempre sua visão do mundo. É uma narrativa intensa, cheia de reviravoltas e reflexões profundas sobre liberdade, sacrifício e humanidade.</p>

            <p>Eu gosto de Attack on Titan porque ele não é apenas uma história de ação e sobrevivência; é um mergulho em dilemas morais e emocionais que nos fazem questionar nossas próprias perspectivas. Com uma trama complexa, personagens incrivelmente bem construídos e cenas de ação de tirar o fôlego, o anime mantém você preso do início ao fim.</p>
            
            <p>Se você busca uma experiência que combina emoção, tensão e reflexão, Attack on Titan é um anime imperdível. Sua história poderosa e os mistérios que se revelam ao longo do caminho certamente vão fazer valer cada momento que você dedicar a assistir.</p>
        </div>
        
        <div class="text-end">
            <p class="my-4 fw-semibold">
                Assista em:
                <a href="https://www.crunchyroll.com/pt-br/series/GR751KNZY/attack-on-titan" target="_blank" class="text-lilac">Crunchyroll</a>
            </p>
            <a href="#animes" class="btn btn-sm btn-lilac">Voltar à lista</a>
        </div>
    </div>
</div>
<!-- fim do conteúdo do anime -->