<!-- início do conteúdo do anime -->
<div class="px-2 p-md-5 d-flex flex-column border-lilac bg-blackblue">
    <div class="mx-auto my-4 position-relative">
        <img class="img-fluid" src="assets/images/animes/anime_naruto_lg.webp" alt="Naruto Shippuden" loading="lazy">
        <div class="position-absolute top-0 ratio ratio-16x9 anime-video"><!-- Vídeo que será revelado ao posicionar o mouse sobre a imagem -->
            <iframe src="https://www.youtube.com/embed/OywQfA_XmyM" title="Luta bonita! Luta bem-feita! Luta formosa! Minato VS Obito ⚡ | Naruto Shippuden" loading="lazy" allowfullscreen></iframe>
        </div>

        <div class="text-center">
            <small class="text-light fst-italic d-lg-none">Toque na imagem para ver uma prévia do anime.</small>
        </div>
    </div>

    <div class="mx-2 my-4">
        <h2 class="h1 fw-bold mb-4 text-lilac">NARUTO SHIPPUDEN</h2>
        <div class=" lead">
            <p>Naruto Shippuden é a continuação épica da jornada de Naruto Uzumaki, um jovem ninja que sonha em se tornar Hokage e ser reconhecido por todos da sua vila. Nesta fase, a história se aprofunda em temas como amizade, superação e o peso das escolhas, enquanto Naruto enfrenta inimigos mais poderosos e descobre mais sobre si mesmo e seu vínculo com a Raposa de Nove Caudas.</p>
            
            <p>Eu gosto de Naruto Shippuden porque ele ensina que, mesmo quando o mundo parece contra você, com esforço e determinação, é possível superar qualquer obstáculo. As batalhas emocionantes, os laços entre os personagens e a forma como o anime aborda questões como dor, sacrifício e redenção tornam a história inesquecível. É mais do que ação; é uma reflexão sobre o que significa nunca desistir.</p>
            
            <p>Se você ainda não assistiu, este é um anime que vai deixar marcas em você. Sua história cativa de uma forma única, e cada episódio traz algo especial, seja em emoção ou em inspiração. Tenho certeza de que vai valer a pena cada momento dedicado a essa jornada.
        </div>
        
        <div class="text-end">
            <p class="my-4 fw-semibold">
                Assista em:
                <a href="https://www.crunchyroll.com/pt-br/series/GYQ4MW246/naruto-shippuden" target="_blank" class="text-lilac">Crunchyroll</a><br>
                <a href="https://www.netflix.com/title/80000603" target="_blank" class="text-lilac">Netflix</a>
            </p>
            <a href="#animes" class="btn btn-sm btn-lilac">Voltar à lista</a>
        </div>
    </div>
</div>
<!-- fim do conteúdo do anime -->