<!-- início do conteúdo do anime -->
<div class="px-2 p-md-5 d-flex flex-column bordas-lilac bg-blackblue">
    <div class="mx-2 my-4 position-relative">
        <img class="img-fluid" src="assets/images/animes/anime_one_piece_lg.webp" alt="One Piece" loading="lazy">
        <div class="position-absolute top-0 ratio ratio-16x9 anime-video"><!-- Vídeo que será revelado ao posicionar o mouse sobre a imagem -->
            <iframe src="https://www.youtube.com/embed/W2tj0MNsIec" title="Chapéus de Palha Reunidos! | One Piece" loading="lazy" allowfullscreen></iframe>
        </div>

        <div class="text-center">
            <small class="text-light fst-italic d-lg-none">Toque na imagem para ver uma prévia do anime.</small>
        </div>
    </div>

    <div class="mx-2 my-4">
        <h2 class="h1 fw-bold mb-4 text-lilac" lang="en-us">ONE PIECE</h2>
        <div class="lead">
            <p>One Piece é um anime que narra as aventuras de Monkey D. Luffy e sua tripulação de piratas enquanto exploram o vasto mundo em busca do lendário tesouro que dá nome à obra. É uma história sobre amizade, determinação e a busca pelos próprios sonhos, recheada de personagens carismáticos e um universo rico em detalhes.</p>

            <p>Eu gosto de One Piece porque é uma verdadeira lição sobre resiliência e propósito. Cada personagem tem seus próprios sonhos e lutas, mas juntos, eles formam uma família que supera qualquer desafio. Além disso, o anime mistura humor, ação e momentos emocionantes de forma impecável, conectando o público às suas histórias e fazendo com que a gente torça por cada conquista. É impossível não se sentir inspirado!</p>
            
            <p>Se você ainda não assistiu, eu convido você a embarcar nessa jornada. Com uma narrativa envolvente e personagens que conquistam o coração, vale muito a pena descobrir por que One Piece é tão especial para milhões de pessoas ao redor do mundo.</p>
        </div>
        
        <div class="text-end">
            <p class="my-4 fw-semibold">
                Assista em:
                <a href="https://www.crunchyroll.com/pt-br/series/GRMG8ZQZR/one-piece" target="_blank" class="text-lilac">Crunchyroll</a><br>
                <a href="https://www.netflix.com/title/80107103" target="_blank" class="text-lilac">Netflix</a>
            </p>
            <a href="#animes" class="btn btn-sm btn-lilac">Voltar à lista</a>
        </div>
    </div>
</div>
<!-- fim do conteúdo do anime -->